body {
  margin-top: 80px;
  font-family: "Radio Canada", sans-serif;
}

h1 {
  text-align: left;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #006ec5;
  font-family: "Asap", sans-serif;
  font-weight: 600;
}

h2 {
  text-align: left;
  color: white;
  font-family: "Radio Canada", sans-serif;
}

footer {
  text-align: center;
}

.outsideBorder {
  border-style: solid;
  color: #5a6275;
  padding: 25px;
}

.citySearch {
  display: block;
  font-weight: 700;
}

.btn btn-primary col-1 {
  margin: 5px;
}

.btn btn-secondary col-1 {
  margin: 5px;
  color: #006ec5;
}

.innerBox {
  background-image: url(bluehaze.jpg);
  border-style: solid;
  color: #5a6275;
  margin-top: 20px;
  padding: 40px;
}

/* first list that will have to be interactive with weather changes*/

.firstList {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  padding: 15px;
  border-color: #5a6275;
  list-style: none;
}

/* first list elements*/

.day-date {
  text-align: center;
  color: #006ec5;
  font-size: 20px;
  font-family: "Radio Canada", sans-serif;
  padding-top: 25px;
}

.icon {
  size: 50px;
}

.temp {
  color: #006ec5;
  font-weight: 500;
  font-size: 50px;
}

.temp .active {
  font-size: 30px;
  color: #006ec5;
  cursor: default;
  text-decoration: none;
}

.temp .active:hover {
  text-decoration: none;
}

.temp .inactive {
  font-size: 30px;
  color: #006ec5;
  cursor: default;
  text-decoration: none;
}

.temp .inactive:hover {
  text-decoration: none;
}

.weather-facts {
  padding-bottom: 20px;
  color: #006ec5;
  font-family: "Radio Canada", sans-serif;
  font-size: 20px;
  padding-top: 25px;
}

/* Second list elements*/

.secondList {
  margin-left: 1px;
  margin-right: 5px;
  background-color: white;
  list-style: none;
  border-style: solid;
  border-width: 2px;
  padding: 20px;
}

.mon,
.tues,
.wed,
.thurs,
.fri,
.sat,
.sun {
  text-align: center;
  font-size: 30px;
}

.goodbye {
  text-align: center;
  font-size: 20px;
  color: #006ec5;
  font-family: "Radio Canada", sans-serif;
}
